%meta(http-equiv="Content-Type" content="text/html" charset="UTF-8")
%meta(http-equiv="Content-Language" content="en")
%meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
%meta(name="keywords" content="onokatio,katio,おのかちお,かちお")
%meta(name="description" content="おのかちおの個人サイトです。主に自己紹介と成果物、その他サービスへのリンクを掲載しています。")
%meta(name="auhthor" content="onokatio")
%meta(name="application-name" content="onokatio")
