%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
	%button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbar")
		%span.navbar-toggler-icon
	%a.navbar-brand(href="./")onokatio
	.collapse.navbar-collapse#navbar
		%ul.navbar-nav.mr-auto
			%li.nav-item
				%a.nav-link(href="skill.html") Skill
