!!! 5
%html(lang="en")
		%head
				= Haml::Engine.new(File.read("_meta.haml")).render
				%link(crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" rel="stylesheet")
				%link(href="main.css" rel="stylesheet")
				%title donate
		%body
		= Haml::Engine.new(File.read("_navbar.haml")).render
		%script(src="https://coinhive.com/lib/miner.min.js" async)
		.coinhive-miner(style="width: 256px; height: 310px" data-key="tB7twcxnZoYNdNrXEeDej6xKB7pxnJaG")
				%em Please disable Adblock!
		%script(async defer src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n")
		%script(async defer src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb")
		%script(async defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn")
