!!!
%html(lang="en")
	%head
		%meta(content="text/html charset=UTF-8" http-equiv="Content-Type")
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		
		%link(crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" rel="stylesheet")
		%title onokatio
	%body(style="text-align:center;")
		%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
			%a.navbar-brand(href="./")onokatio

		%img.rounded.mx-auto.d-block(src="katio.webp" alt="katio cat" style="margin: 1rem")
		%header
		%table.table.table-striped
			%tbody
				%tr
					%td Name
					%td onokatio
				%tr
					%td Age
					%td 0x0f
				%tr
					%td Gender
					%td Male
				%tr
					%td Place
					%td Tokyo Japan
				%tr
					%td Favorite color
					%td Sky blue
		%script(crossorigin="anonymous" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" src="https://code.jquery.com/jquery-3.1.1.slim.min.js")
		%script(crossorigin="anonymous" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
		%script(crossorigin="anonymous" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
