!!! 5
%html(lang="en")
	%head
		= Haml::Engine.new(File.read("_meta.haml")).render
		%link(crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" rel="stylesheet")
		%link(href="main.css" rel="stylesheet")
		%title onokatio
	%body
		= Haml::Engine.new(File.read("_navbar.haml")).render
		.card
			.card-block
				%h4.card-title Github
				%p.card-text Githubのリポジトリです。公開できる成果物はほとんどここに置いてます。
				%a.btn.btn-primary(href="https://github.com/onokatio") GO
		.card
			.card-block
				%h4.card-title Qiita
				%p.card-text 自分のQiitaのユーザーページです。備忘録的に投稿しています。
				%a.btn.btn-primary(href="http://qiita.com/onokatio") GO
		.card
			.card-block
				%h4.card-title はてなブログ
				%p.card-text 技術には関係ない投稿やQiitaのバックアップとして利用しています。
				%a.btn.btn-primary(href="http://onokatio.hatenablog.com/") GO
		.card
			.card-block
				%h4.card-title Teratail
				%p.card-text 息抜きに質問に回答したりしています。
				%a.btn.btn-primary(href="http://onokatio.hatenablog.com/") GO
		%script(async defer src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n")
		%script(async defer src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb")
		%script(async defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn")
