hr {
	border-top: 1px solid rgba(0,0,0,.5)
}

a {
	word-break: break-all;
}

@media (min-width: 576px) {
.container {
	max-width: 400px;
}
}

@media (min-width: 768px) {
.container {
	max-width: 540px;
}
}

@media (min-width: 992px) {
.container {
	max-width: 700px;
}
}

@media (min-width: 576px){
.card-columns {
	column-count: 1 !important;
	-webkit-column-count: 1 !important;
	--moz-column-count: 1 !important;
}
}

@media (min-width: 768px){
.card-columns {
	column-count: 2 !important;
	-webkit-column-count: 2 !important;
	--moz-column-count: 2 !important;
}
}

@media (min-width: 992px){
.card-columns {
	column-count: 3 !important;
	-webkit-column-count: 3 !important;
	--moz-column-count: 3 !important;
}
}

.container {
	margin-bottom: 2rem;
}

#markdown h1, #markdown h2, #markdown h3 {
	font-weight: 100;
	margin-bottom: 2rem;
}

#markdown h1:first-child {
	color: #7f7f7f;
	font-size: 4rem;
}

#markdown h1:not(:first-child), #markdown h2, #markdown h3 {
	margin-top: 3rem;
}
