.markdown-body pre {
	background-color: unset;
}

.markdown-body pre code {
	display: block;
	padding: 16px;
	overflow-x: scroll;
}

.hljs {
	background: #002b36 !important;
}

body {
	background: #fff;
	background-color: #fff;
}

.reveal {
	background-color: #000;
}
